body {
    font-size: 15pt;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#entryBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    position: relative;
    box-shadow: 0px 0px 10px black;
    width: 500px;
    
}
#entryH1 {
    margin: 0px;
}
#entryP {
    position: absolute;
    top: 80px;
    font-size: 15px;
    color: grey;
}
#entryBtn{
    margin: 40px;
    background: blue;
    padding: 5px;
    border-radius: 100px;
    color: white;
    width: 110px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 0px 5px black;
    margin: 0px;
    margin-top: 40px;
}
#entryBtn :active {
    background: darkblue;
}

.choices{
    background: blue;
    padding: 5px;
    border-radius: 100px;
    color: white;
    width: 115px;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
}

.nextQ{
    background: cadetblue;
    padding: 5px;
    border-radius: 100px;
    color: white;
    width: 115px;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 0px 5px black;
    margin-top: 25px;
}
